PORT=3000
STORAGE_DIR=./storage
CORS_ORIGIN=*
PAMI_API_BASE_URL=
PAMI_WEB_USERNAME=
PAMI_WEB_PASSWORD=
PAMI_AUTH_SECRET=
PAMI_AUTH_SAME_SITE=Lax
PAMI_BROWSER_CHANNEL=
PAMI_HEADLESS=true
PAMI_LOGIN_URL=https://efectores.pami.org.ar/pami_efectores/login.php
PAMI_FORM_URL=https://efectores.pami.org.ar/pami_nc/OP/op_cargar_solicitud.php?xgap_historial=reset
